.App{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.error{
  padding: 20px 50px;
  background-color: lightcoral;
  position: fixed;
  top: 18%;
}

.message{
  padding: 20px 50px;
  background-color: lightseagreen;
  position: fixed;
  top: 18%;
  left: 34%;
}

.spinner{
  margin-left: 5%;
}

@media (max-width:768px){
  .message{
    left: 0;
  }
}


/*----------------------NAV BAR----------------------------*/
nav{
  width: 60%;
  margin: 5% auto;
}

nav .mobile-menu{
  display: none;
}

nav .display-user{
  display: flex;
  justify-content: end;
  padding-bottom: 20px;
  padding-right: 30px;
}

nav .pc-nav{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  padding-left: 20px;
  padding-right: 20px;
}

nav .pc-nav li a{
  text-decoration: none;
  font-weight: bold;
  color: black;
  padding: 20px 40px;
  transition: all ease-in-out .5s;
}

nav .pc-nav li a:hover{
  background-color: black;
  color: white;
}

@media (max-width:768px){
  nav{
    width: 90%;
  }
  nav .pc-nav{
    display: none;
  }

  nav .display-user{
    display: none;
  }

  nav .mobile-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    position: relative;
  }

  nav .mobile-menu button{
    border: none;
    background-color: white;
    padding-right: 5%;
    margin: 0;
    cursor: pointer;
    z-index: 7;
    position: fixed;
    right: 0;
  }

  nav .mobile-menu button span{
    font-size: 40px;
  }

  nav .mobile-menu h3{
    font-weight: bolder;
  }
  
  nav .mobile-menu .mobile-menu-list{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: white;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 6;
    transition: all ease-in-out 1s;
    animation-name: animated-menu;
    animation-duration: 1s;
  }

  nav .mobile-menu .mobile-menu-list ul{
    list-style: none;
    padding-top: 40%;
    padding-left: 0;
    font-size: 30px;
  }

  nav .mobile-menu .mobile-menu-list ul li{
    padding-bottom: 30px;
  }

  nav .mobile-menu .mobile-menu-list ul li a{
    color: black;
    text-decoration: none;
  }
}

@keyframes animated-menu{
  from{
      opacity: 0;
      top: -200px;
  }
  to{
      opacity: 1;
      top: 0;
  }
}



/*--------------------PAGE BODY---------------------*/

#page-body{
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.titles{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 5%;
}

.article-content, .page-Content{
  margin: 2% 20%;
  text-align: justify;
}

.article-content, .page-Content p{
  margin-bottom: 50px;
}

@media (max-width:768px){

  #page-body{
    width: 90%;
  }
  #page-body .title{
    width: 110%;
    display: flex;
    justify-content: center;
  }
  .article-content, .page-Content{
    margin: 2% 5%;
    width: 100%;
  }
}


/*----------------------ARTICLES LIST-----------------------*/
.articles-list{
  width: 100%;
  text-align: justify;
}

.articles-list a{
  text-decoration: none;
  color: black;
  padding: 30px 10px;
  border-bottom: solid 1px black;
  transition: all ease .5s;
}

.articles-list a:hover{
  color: white;
  background-color: black;
}

.articles-list .card{
  display: flex;
  flex-direction: column;
  margin: 0 30%;
  text-align: justify;
}

.articles-list .card h3{
  padding: 0;
  margin: 0;
}

@media (max-width:768px){
  .articles-list .card{
    margin: 0 10%;
    width: 85%;
  }
}


/*-------------------UPVOTES SECTION--------------------*/
.upvotes-section{
  width: 60%;
  margin: 0 20%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upvotes-section button{
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 10px 30px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all ease .5s;
}

.upvotes-section button:hover{
  background-color: transparent;
  color: inherit;
}

@media (max-width:768px){
  .upvotes-section{
    margin: 0 5%;
    width: 100%;
    flex-direction: column;
  }
}


/*-------------------COMMENTS SECTION--------------------*/
#add-comment-form{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50px 0;
  gap: 15px;
}

#add-comment-form h3{
  text-transform: capitalize;
}

#add-comment-form label{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: baseline;
  width: 100%;
  justify-content: space-between;
}

#add-comment-form label input, textarea{
  width: 379px;
  padding: 6px 10px;
}

#add-comment-form button{
  width: 400px;
  background-color: black;
  color: white;
  padding: 10px 30px;
  border: 1px solid black;
  text-transform: capitalize;
  cursor: pointer;
  transition: all ease .5s;
}

#add-comment-form button:hover{
  background-color: transparent;
  color: inherit;
}

.comments-list{
  width: 50%;
  margin: 10% 0;
}

.comments-list .comments{
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

@media (max-width:768px){

  #add-comment-form{
    width: 100%;
    align-items: center;
  }

  #add-comment-form label{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #add-comment-form label .label-text{
    width: 86%;
    display: flex;
  }

  #add-comment-form label input, textarea{
    width: 80%;
    padding: 6px 10px;
  }

  #add-comment-form button{
    width: 80%;
  }

  .comments-list{
    width: 100%;
  }

  .comments-list h3{
    text-align: center;
  }

  .comments-list .comments{
    margin-left: 5%;
    margin-right: 5%;
  }
}


/*------------------LOGIN/SIGNUP PAGE---------------------*/
.login-page{
  width: 60%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page form{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 5%;
  gap: 20px;
}

.login-page form label{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 20px;
}

.login-page form label .row{
  width: 70%;
}

.login-page form .row input{
  width: 232px;
  padding: 8px 10px;
}

.login-page form label .confirm{
  width: 100%;
  display: flex;
  justify-content: end;
  position: relative;
}

.login-page form .confirm input{
  width: 232px;
  padding: 8px 10px;
}

.login-page form .confirm span{
  position: absolute;
  top: 40px;
  font-size: 15px;
} 

.form-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-btn button{
  width: 90%;
  background-color: black;
  color: white;
  padding: 10px 30px;
  border: 1px solid black;
  text-transform: capitalize;
  cursor: pointer;
  transition: all ease .5s;
}

.form-btn button:hover{
  background-color: transparent;
  color: inherit;
}

.login-page .register-sect{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-page .register-sect a{
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition: all ease-in-out .5s;
}

.login-page .register-sect a:hover{
  color: purple;
}

@media (max-width:768px){
  .login-page{
    width: 100%;
    margin: 5%;
  }

  .login-page form{
    width: 80%;
    margin-top: 5%;
  }

  .login-page form label{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .login-page form label .row{
    width: 90%;
  }

  .login-page form .row input{
    width: 100%;
  }

}


/*------------------FOOTER---------------------*/

.footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 10%;
  margin-bottom: 2%;
}
